/*reset page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /*border-box keeps the padding and border from affecting the width and height of elements*/
}
/*entire page*/
body{
    background: #0F172A;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex; /*box container that can be modified*/
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
}
/*entire app*/
main{
    width: 100%;
    max-width:1000px;
    padding: 30px;
    border-radius: 15px;
    background:#1E293B;
    box-shadow: 0 10px 25px rgba(0,0,0,.4);
}
/*title*/
h1{
    text-align: center;
    margin-bottom: 30px;
}
/*Board+Sidebar*/
.game-container{
    display: flex;
    gap: 30px;
    flex-direction: row;
}
.game-board{
    flex: 3;
    background-color: rgb(0, 0, 0);
    height: auto;
    min-height: 600px;
}
.sidebar{
    display: flex;
    gap: 20px;
    flex: 1;
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 20px;
    border-radius: 15px;
    flex-direction: column;
}